.about {
  padding-top: em(66px);
  background-size: cover;
}

.hero {
  position: relative;
  min-height: 350px;
  overflow: hidden;
  background: black;
}

video,
.statement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

video {
  display: none;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.statement {
  margin-top: 0;
  background: url(../images/jgo-working.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 100;
  h1 {
    padding: 0 20px;
    margin: 0;
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 150%;
    text-align: center;
    @extend .dark-shadow;
    letter-spacing: .02em;
  }
}

.skills-header {
  border-bottom: 1px solid #FFF;
  text-align: center;
  padding-bottom: 5px;
  margin: 0;
}

.skills {
  $max-width: $max;
  @include outer-container;
  @extend .light-shadow;
  li {
    @include span-columns(6);
    @include omega(2n);
    margin: 0;
    width: 50%;
    border-right: 1px solid #CCC;
    text-align: center;
    min-height: 170px;
    padding: em(15px);
    &:nth-of-type(even) {
      border: 0;
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      border-bottom: 1px solid #CCC;
    }
    &:nth-of-type(3) {
      border-image: linear-gradient(to bottom, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0)) 1 100%;
    }
  }
}

.additional-wrap {
  @include outer-container;
  background-color: white;
  a {
    color: $text;
    &:hover {
      color: $primaryBG;
      text-shadow: none;
    }
  }
}

.additional-info {
  padding: em(50px) 0;
  @include span-columns(12);
  text-align: center;
  font-size: 150%;
  color: #FFF;
  a {
    &::before {
        display: block;
        font-size: 300%;
    }
  }
}

.resume {
  @include span-columns(6, border-collapse);
  @include buildIcon("r");
  @include omega;
}

.bio {
  @include span-columns(6, border-collapse);
  @include buildIcon("i");
  @include omega;
}

.bio-text {
  @include outer-container;
  @include span-columns(11);
  @include shift(.5);
  margin-bottom: em(20px);
  @extend .light-shadow;
  background-color: white;
  padding-bottom: em(20px);
  h2 {
    text-align: left;
    margin-top: 0;
    span {
      font-size: 60%;
    }
  }
}

.left-image {
  float: left;
  height: 250px;
  padding: 0 10px 10px 0;
}

.like {
  margin: em(50px);
  text-align: center;
}

.web-dev {
  display: block;
  margin-bottom: 5px;
  font-size: 300%;
  line-height: 1.2em;
  text-transform: uppercase;
  @extend .light-shadow;
  color: white;
  span {
    display: block;
  }
}

.mind,
.artist {
  color: $orange;
  @extend .dark-shadow;
}

.artist {
  color: $yellow;
}

.contact-top {
  background: $secondary;
  text-align: center;
  color: #FFF;
  border-radius: 3px;
  padding: em(15px) em(30px);
  &:hover {
    color: #FFF;
  }
  margin: 10px auto;
}

@include media($tablet) {
  .bio-text {
    @include outer-container;
    @include span-columns(8);
    @include shift(2);
  }
  .statement {
    font-size: 150%;
  }
  .hero {
    min-height: 425px;
  }
  .web-dev {
    margin-bottom: 5px;
    font-size: 250%;
    line-height: 1.2em;
    span {
      display: inline-block;
    }

  }
}

@include media($desktop) {
  .web-dev {
    margin-bottom: 5px;
    font-size: 200%;
    line-height: 1.2em;
    span {
      display: inline-block;
    }
  }
  .hero {
    min-height: 425px;
  }
  video {
    display: block;
  }
  .skills-wrap {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
  }
  .skills {
    li {
      @include omega-reset(2n);
      @include omega();
      @include span-columns(3);
      margin: 0;
      width: 25%;
      text-align: center;
      min-height: 150px;
      padding: em(15px);
      border-image: linear-gradient(to bottom, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0)) 1 100%;
      border-left: 0;
      &:last-child {
          border: 0;
      }
      &:nth-of-type(even) {
        border-right: 1px solid;
        border-image: linear-gradient(to bottom, rgba(200, 200, 200, 1), rgba(200, 200, 200, 0)) 1 100%;
      }
    }
  }
  .statement {
      font-size: 200%;
      background: RGBA(100, 100, 100, .7);
  }
  .additional-info {
    @include span-columns(8);
    @include shift(2);
    font-size: 150%;
  }
  .bio-text {
    @include outer-container;
    @include span-columns(6);
    @include shift(3);
  }
  .left-image {
    margin-left: -6.875em;
    padding: em(10px) em(20px) em(10px) em(0);
    height: 300px;
  }
  video {
    min-height: 100%;
  }
}
