.blog {
    padding: em(80px) 0;
    $max-width: 100%;
    @include outer-container;
    background: $blue;
    .more {
        padding: 10px 20px;
        background: $ll-blue;
        border-radius: 4px;
        display: block;
        font-weight: 400;
        &:hover {
            color: $text;
            background: $l-blue;
        }
    }
    h1 {
        margin: 0 0 em(5px) 0;
    }
    h2 {
        text-align: left;
        margin: em(0px);
        color: $l-yellow;
        @extend .dark-shadow;
    }
    img {
        max-width: 100%;
    }
    p {
        color: #FFF;
        @extend .dark-shadow;
    }
}

.blog-warp {
    $max-width: 800px;
}

.read-more {
    float: right;
    margin-left: em(10px);
    @extend .light-shadow;
}

.blog-left {
    @include span-columns(12);
    padding: 0 5%;
}

.blog-posts-wrap {
    @include span-columns(12);
    padding: 0 5%;
    margin-top: em(15px);
}

.blog-posts-listItem{
    .date{
        margin:0;
        font-size: .75em;
    }
}

.blog-posts-shortList {
    display: none;
    margin-bottom: em(20px);
    li {
        border-bottom: solid $ll-blue 1px;
    }
    a {
        color: #FFF;
        font-size: 1.1em;
        display: block;
        padding: em(5px);
        &:hover {
            background: $ll-blue;
            color: $text;
            @extend .light-shadow;
        }
    }
}

.footnote{
    font-size: 75%;
    text-align: center;
    margin-top: em(20px);
}

// Media Queries
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@include media($tablet) {}


@include media($desktop) {
    .blog-posts-shortList {
        display: block;
        text-shadow: 0 1px 0 rgba(0,0,0,.3);
    }
    .blog-left {
        @include span-columns(4);
        padding: 0;
    }
    .blog-posts-wrap {
        @include span-columns(7.25);
        @include shift(0.5);
        margin-top: em(15px);
        padding: 0;
    }
    .blog-posts-listItem{
        span{
            font-size: .5em;
            float: right;
            padding-top:.5em;
        }
    }
}