.other-work {
    padding: 1em 0 0 0;
    $max-width: 100%;
    @include outer-container;
    background: $l-yellow;
}

.other-work-wrapper {
    @include outer-container;
    float: none !important;
}

.hats {
    background: url(../images/hats.png);
    background-size: auto 60px;
    width: 100%;
    height: 60px;
    opacity: .05;
}

.other-work-links {
    @include outer-container;
    li {
        @include span-columns(12);
        text-align: center;
        padding: em(5px);
        cursor:pointer;
        &::after {
            @extend .icon;
            content: "d";
            opacity: 0;
            transition:.2s;
            font-size: 2em;
            color:$blue;
        }
        &:hover {
            transition: .2s;
            color: #000;
            &::after {
                opacity: 1;
                transition: .2s;
                visibility: visible;
            }
            &::before {
                transition: .2s;
                color: $blue;
            }
        }
        &::before {
            display: block;
            font-size: 500%;
            margin-bottom: em(2px);
            color: $orange;
            transition: .2s;
        }
    }
    p {
        font-size: 90%;
        font-weight: 200;
    }
    h3 {
        color: #333;
        display: block;
        transition: .2s;
        font-weight: bold;
        
        &:hover {
            
        }
    }
}

.more-work {
    display: none;
}

#photos-container,
#videos-container,
#graphics-container {
    @include outer-container;
    background: #000;
    padding: em(30px) 0;
}

.photos,
.videos,
.graphics {
    $max-width: 1000px;
    @include outer-container;
}

.item {
    @include span-columns(12);
    padding: 25px 10px;
    a {
        height: 250px;
        display: block;
        background-position: center center;
        background-size: cover;
    }
}

iframe {
    width: 100%;
    margin-bottom: em(20px);
}

.photogs-link {
    @include buildIcon("C");
}

.graphics-link {
    @include buildIcon("P");
}

.videos-link {
    @include buildIcon("V");
}

@include media($tablet) {
    .item {
        @include span-columns(6);
        @include omega(2n);
    }
}


@include media($desktop) {
    iframe {
        width: 48%;
        margin: 1%;
    }
    .other-work-wrapper {
        @include span-columns(12);
    }
    .other-work-links {
        li {
            @include span-columns(4);
            text-align: center;
            padding: 50px 10px;
            font-weight: bold;
        }
        a {
            &::before {
                font-size: 500%;
            }
        }
    }
    .item {
        @include span-columns(4);
        @include omega(3n);
    }
}