.work-wrap {
    padding:em(75px) 0;
}

.work {
    margin-bottom:em(30px);
    > div {
        @include span-columns(11);
        @include shift(.5);
        position: relative;
        height: 350px;
        margin-bottom: em(30px);
        overflow: hidden;
        background-size: cover;
        &::before {
            @include fillParent;
            content: "";
            background: rgba(240, 240, 240, 0.7);
        }
        border-radius: .3em;
    }
    .details {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.65);
        width: 100%;
        transition: .2s;
        height: 28%;
        z-index: 100;
    }
    .links {
        position: absolute;
        bottom: 0;
        z-index: 200;
        width: 100%;
        background: #FFF;
    }
    h3 {
        text-transform: uppercase;
        margin: 0;
        padding: .5em 0 0 .5em;
        color: #FFF;
    }
    p {
        padding: em(10px) em(15px);
        margin: 0;
        font-size: .9em;
        font-weight: 200;
    }
    a {
        width: 50%;
        position: absolute;
        text-align: center;
        bottom: 0;
        transition: .2s;
        padding: 15px;
        background: rgba(230, 230, 230, 0.95);
        text-shadow: 0 1px 0 rgba(255,255,255,.6);
        color:$text;
        &.site {
            left: 0;
            border-right: 1px solid rgba(100, 100, 100, 0.5);
        }
        &.code {
            border-left: 1px solid rgba(250, 250, 250, 0.5);
            right: 0;
        }
        &:hover {
            background: rgba(200, 200, 200, 0.95);
            transition: .2s;
            text-shadow: 0 1px 0 rgba(0,0,0,.4);
            color:#FFF;
        }
    }
    .span-width{
        width:100%;
        border:0 !important;
    }
    ul{
        padding:em(15px);
        li{
            display: inline-block;
            font-size: .75em;
        }
    }
}


// Work
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.work-example{
    background-size: cover;
}

@mixin work($w){
    @extend .work-example;
    background: url(../images/work/#{$w}.jpg) top center;
}

.pollinate{
    @include work('pollinate');
}

.tap {
    @include work('tap');
}

.chat-app {
    @include work('chat-app');
}

.be-curator {
    @include work('be-curator');
}

.game {
    @include work('game');
}

.photo-share {
    @include work('photo-share');
}

// Media Queries
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@include media($tablet) {

    .work {
        > div {
            @include span-columns(5.5);
            @include omega(2n);
            @include shift(.35);
        }
    }
}

@include media($desktop) {
    .work {
        > div {
            @include span-columns(4);
            @include omega(3n);
            @include shift(0);
            &:hover {
                .details {
                    height: 100%;
                    p {
                        display: block;
                    }
                    background: rgba(0, 0, 0, 0.8);
                    color: #CCC;
                    h3 {
                        color: $primary;
                    }
                }
            }
        }
    }
}