#about
  margin-top 1em
  padding-bottom 3em
  article
    p
      width 90%
      max-width 800px
  img
    max-width 200px
    float left
    padding-right 1em
  ul
    width 85%
    max-width 650px
    font-size 1em
    li
      list-style-type circle
      margin-bottom 1em
      color $body
      margin-left 15px

.about
  .social-nav
    > a
      color $primary
      disableLink()
