@import "../bower_components/bourbon/dist/bourbon";

$gutter: em(15px);

@import "../bower_components/neat/app/assets/stylesheets/neat";

$primary: RGBA(255, 210, 93, 1);
$primaryTrans: RGBA(35, 65, 125, 0.2);
$secondary: #23417d;

$tablet: new-breakpoint(min-width 600px max-width 1000px);
$desktop: new-breakpoint(min-width 1000px);

@mixin fillParent {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    @extend .openSans;
    color: #333;
}

a {
    color: $secondary;
    text-decoration: none;
    transition: .2s;
    &:hover {
        color: #333;
        transition: .2s;
    }
}

h1,
h2,
h3 {
    @extend .oswald;
}

p {
    line-height: 1.5em;
}

ul {
    @extend .openSans;
    font-weight: 200;
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    $max-width: 100%;
    @include outer-container;
}

.main-wrap{
    $max-width: 1000px;
    @include outer-container
}


@import "about";
@import "header";
@import "work";
@import "other-work";
@import "contact";
@import "blog";
@import "footer";
