@import "../bower_components/bourbon/dist/bourbon";

$gutter: em(15px);

@import "../bower_components/neat/app/assets/stylesheets/neat";

$text: #333;
// $primary: RGBA(255, 210, 93, 1);
$primary: rgba(241, 147, 42, 1);
$primaryTrans: rgba(241, 147, 42, .4);
$secondary: #23417d;
$secondary: rgba(32, 116, 152, 1);
$secondaryTrans: rgba(32, 116, 152, .5);

$orange: rgba(255, 99, 62, 1);
$l-yellow: rgba(254, 224, 154, 1);
$yellow: rgba(255, 200, 62, 1);
$ll-blue: rgba(147, 215, 245, 1);
$l-blue: rgba(112, 205, 245, 1);
$blue: rgba(65, 184, 235, 1);
$dark-blue: rgba(21, 113, 153, 1);

$primaryBG: rgba(65, 184, 235, 1);
$secondaryBG: rgba(248, 195, 135, 1);

$tablet: new-breakpoint(min-width 600px max-width 1000px);
$desktop: new-breakpoint(min-width 1000px);


$max: 1000px;

@mixin fillParent {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin buildIcon($w){
    &::before{
        content:'#{$w}';
        @extend .icon;

    }   
}

@font-face {
    font-family: icons;
    src: url(../fonts/icons.ttf);
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.icon{
    font-family: 'icons', sans-serif;
}

body,
ul,
input,
textarea,
button{
    @extend .openSans;
}


body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: $text;
}

a {
    color: $orange;
    text-decoration: none;
    transition: .2s;
    &:hover {
        color: $blue;
        transition: .2s;
    }
}

h1,
h2,
h3 {
    @extend .oswald;
}

p {
    line-height: 1.5em;
}

ul {
    @extend .openSans;
    font-weight: 200;
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    $max-width: 100%;
    @include outer-container;
    h2{
        text-align: center;
        font-size:200%;
    }
}

.main-wrap{
    $max-width: 1000px;
    @include outer-container
}

.hidden{
    height:0;
    overflow: hidden;
}
.showing{
    height:auto;
}


@import "about";
@import "header";
@import "work";
@import "other-work";
@import "contact";
@import "blog";
@import "footer";