@import '../../node_modules/rupture/rupture/index.styl'
@import 'variables.import'
@import 'fonts.import'
@import 'globals.import'
@import 'navs.import'
@import 'header.import'
@import 'home.import'

@import 'skills.import'
@import 'pages.import'

body
  display flex
  flex-direction column
  height 100vh
