$primary = lighten(desaturate(#0A4F6C, 90%), 20%)
$secondary = #f26442

$header-primary = $primary
$header-secondary = $secondary
$text = #51514c
$text-secondary = #92928a
$title-secondary = lighten($primary, 92%)

$link = #63b3d4
$link-hover = $secondary

$mobile = 650px
$tablet = 1000px

$border-radius = 4px

$primaryRole = 28%
$otherRoles = (100% - $primaryRole) / 3

$main-header-height = 55px
$main-content-left-margin = 175px
