extends views/extends/layout
  
append variables  
  - var sectionId='about'
  - var bodyClass=sectionId
  - var pageTitle='About'
  - var title='Jonathan Goley - About'
  
block page_content
  h1
    | Jonathan Goley 
    span.aka aka 'J.Go'
  article
    p
      img.left-image(src='images/jonathan2.jpg', alt='Image of Jonathan Goley')
      | I grew up learning valuable life skills from two older brothers such as DOS commands and how to kick a soccer ball. I enjoyed the luxury of attending the elementary school of which my father was principal. I gardened, cried when my cats died and wanted to be a teenage mutant ninja turtle.
      
    p
      | High school exposed me to the two interests with which I have devoted much of my life: photography and coding. I developed a simple point of sale program in BASIC for an imaginary pizza joint and spent hours in the school's darkroom watching silver coalesce into an image.
      
    p
      | Initially I chose coding as the interest I wanted to turn into a career. But, I had not matured out of the timid child I was. After a year as a computer science major I switched to studio art (photography). This degree lead to a job at the #[a(href='http://columbiamuseum.org') Columbia Museum of Art] where I began as a preparator (art handler). Somewhere between installing Renoirs, Monets and other incomprehensibly valued artwork, I started working on the museum's website. This started me back on the track I left as a college freshman. My tenure lasted about 9 years but I still have a foot in the door helping with the technical side of things of #[a(href='http://tours.columbiamuseum.org/') TAP into CMA].
    
    p
      | Currently I'm living in Brooklyn. After nearly 3 years of working across the East River in Manhattan at a nonprofit called #[a(href='http://ecohealthalliance.org') EcoHealth Alliance] as a Front End Developer / Designer / Photogher / Videographer, I took a remote job as interface designer &amp; developer at #[a(href='//greenriver.com') Green River], a software development company based in Southern Vermont.
      
    p
      | One of my goals in day-to-day life is to leave whatever I work on, contribute to, or exist in better than I found it. It's my hope that through my professional work and by more simple acts like volunteering or picking up trash on the trail, I achieve this goal.
    
  article
    h2 Other tidbits:
    ul
      li 
        | To satisfy my inherent urge to help my community I volunteer my time with organizations like #[a(href='https://www.newyorkcares.org/') NYCares], #[a(href='http://www.added-value.org/compost/') NYC Compost Project] and foster animals through #[a(href='http://www.nycacc.org/') NYACC].
      li
        | To satisfy my curiosity and respect for nature I became a beekeeper which began when a 3 pound package of honeybees (10-12 thousand stinging insects) was placed in the backseat of my car.
      li
        | To satisfy my inner-Muir I've done epic solo backpacking trips in Glacier NP, Rocky Mountain NP, Olympic NP, ADK, The Whites, Catskills and all over western NC.
      li
        | To satisfy my love of photography I taught myself a 19th-century process called wet plate collodion. #[a(href='/photographer/artist.html') Here's a sampling of my photos]
      li
        | And to satisfy my other miscellaneous interests I listen to NPR religiously, play disc golf and play guitar (along with a few other instruments).
          
  append scripts
    script(src='scripts/base.js')
