extends views/extends/layout
  
append variables  
  - var pageTitle='Designer'
  - var sectionId='designer'
  - var bodyClass=sectionId
  - var title='Jonathan Goley - Designer'
  
append scripts
  script(src='scripts/designer.js')
