extends views/extends/home

append variables
  - var title='Jonathan Goley'
  - var bodyClass='home'

append content
  main
    .logo
      img(src='/images/badge_no-name.svg' alt='Jonathan Goley')
    nav.page-nav
      h1 Jonathan Golightly
      ul
        li
          a.page(href='web-developer.html') Web Developer
        li
          a.page(href='photographer/') Photographer
        li
          a.page(href='videographer.html') Videographer
        li
          a.page(href='designer.html') Designer

append scripts
  script(src='scripts/base.js')
