extends views/extends/layout

append variables
  - var title='Jonathan Goley - Videographer'
  - var pageTitle='Videographer'
  - var sectionId='videographer'
  - var bodyClass=sectionId
  
append scripts
  script(src='scripts/videographer.js')
