extends views/extends/layout

append variables
  - var title='Jonathan Golightly - Web Developer'
  - var pageTitle='Web Developer'
  - var sectionId='web-developer'
  - var bodyClass=sectionId

append scripts
  script(src='scripts/web_developer.js')
