extends ../views/extends/layout
  
append variables
  - var title='Jonathan Goley - Photographer - Artist'
  - var pageTitle='Artist'
  - var bodyClass='photographer'
  - var sectionId='artist'
  - var path='../'
  - var sectionClasses = 'container invisible'
  
block append head
  title Jonathan Goley - Photographer - Artist
  
append content
  nav.sub-nav
    ul
      li.active
        a(href="/photographer/artist.html") Artist
      li
        a(href="/photographer/documentarian.html") Documentarian
      
  append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/7.2.2/lazyload.min.js')
    script(src=path + 'scripts/photographer.js')
