doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Jonathan Goley - Photographer - Documentarian
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='../styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,700' rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body.photographer
    header
      a(href="/")
        span.badge
      a(href="/")
        h1.jgo-name Jonathan Goley
      nav#main-nav
        button.show-menu
        ul
          li
            a(href='/web-developer.html')
              span Web Developer
          li.active.with-children
            a(href='/photographer/')
              span Photographer
            ul
              li
                a(href='/photographer/artist.html')
                  span Artist
              li.active
                a(href='/photographer/documentarian.html')
                  span Documentarian
          li
            a(href='/videographer.html')
              span Videographer
          li
            a(href='/designer.html')
              span Designer
          li.exit
    h1.page-title Photographer
    
    nav.sub-nav
      ul
        li
          a(href="/photographer/artist.html") Artist
        li.active
          a(href="/photographer/documentarian.html") Documentarian
          
    section#commercial-content.container.invisible
      img(src='../images/photographer/documentarian/01.jpg')
      img(src='../images/photographer/documentarian/02.jpg')
      img(src='../images/photographer/documentarian/04.jpg')
      img(src='../images/photographer/documentarian/05.jpg')
      img(src='../images/photographer/documentarian/06.jpg')
      img(src='../images/photographer/documentarian/07.1.jpg')
      img(src='../images/photographer/documentarian/08.jpg')
      img(src='../images/photographer/documentarian/09.jpg')
      img(src='../images/photographer/documentarian/10.jpg')
      img(src='../images/photographer/documentarian/11.jpg')
      img(src='../images/photographer/documentarian/12.jpg')
      img(src='../images/photographer/documentarian/13.jpg')
      img(src='../images/photographer/documentarian/14.jpg')
      img(src='../images/photographer/documentarian/15.jpg')
      img(src='../images/photographer/documentarian/16.jpg')
      img(src='../images/photographer/documentarian/17.jpg')
      img(src='../images/photographer/documentarian/18.jpg')
      img(src='../images/photographer/documentarian/19.jpg')
      img(src='../images/photographer/documentarian/20.jpg')
      img(src='../images/photographer/documentarian/21.jpg')
      img(src='../images/photographer/documentarian/22.jpg')
      img(src='../images/photographer/documentarian/23.jpg')
      img(src='../images/photographer/documentarian/24.jpg')
      img(src='../images/photographer/documentarian/25.jpg')
      img(src='../images/photographer/documentarian/26.jpg')
      img(src='../images/photographer/documentarian/27.jpg')
      img(src='../images/photographer/documentarian/28.jpg')
      img(src='../images/photographer/documentarian/29.jpg')
      img(src='../images/photographer/documentarian/30.1.jpg')
      img(src='../images/photographer/documentarian/30.2.jpg')
        
    nav.social-nav
      a(href='/about.html') About J.Go
      ul
        li
          a(href='mailto:jgoley@gmail.com' title='Email')
            i.fa.fa-envelope
        li
          a(href='https://github.com/jgoley' title='Github')
            i.fa.fa-github-square
        li
          a(href='https://twitter.com/jgoley' title='Twitter') 
            i.fa.fa-twitter-square
        li
          a(href='https://www.linkedin.com/in/jgoley/' title='LinkedIn') 
            i.fa.fa-linkedin-square

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-3725995-7');ga('send','pageview');
      
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
    script(src='../scripts/main.js')
