extends ../views/extends/layout

append variables
  - var title='Jonathan Golightly - Photographer'
  - var pageTitle='Photographer'
  - var sectionId='photographer'
  - var bodyClass=sectionId
  - var path='../'

block append head
  title Jonathan Golightly - Photographer

append content
  nav.page-nav.page-nav--sub
    ul
      li
        a(href='artist.html') Artist
      li
        a(href='documentarian.html') Documentarian

  append scripts
    script(src=path + 'scripts/photographer.js')
